An overview dataset table is provided as default, where the suffix in the 'Dataset' ('AA', 'SEQ', and 'DOM') column corresponds to the 'Level' values ('Amino acid', 'Sequence', and 'Domain' level). Load datasets using the ``load_dataset()`` function:

In [ ]:
import aaanalysis as aa
df_info = aa.load_dataset()
aa.display_df(df=df_info, show_shape=True, max_height=600)

Load one of the datasets from the overview table by using a name from the 'Dataset' column (e.g., ``name='SEQ_CAPSID'``). The number of proteins per class can be adjusted by the ``n`` parameter:

In [2]:
df_seq = aa.load_dataset(name="SEQ_CAPSID", n=2)
aa.display_df(df=df_seq)

The sampling can be performed randomly by setting ``random=True``:

In [3]:
df_seq = aa.load_dataset(name="SEQ_CAPSID", n=2, random=True)
aa.display_df(df=df_seq)

Sequences with non-canonical amino acids are by default removed, which can be disabled by setting ``non_canonical_aa='keep'`` or ``non_canonical_aa='gap'``:

In [4]:
n_unfiltered = len(aa.load_dataset(name='SEQ_DISULFIDE', non_canonical_aa="keep"))
n = len(aa.load_dataset(name='SEQ_DISULFIDE'))
print(f"'SEQ_DISULFIDE' contain {n_unfiltered} proteins and {n} after filtering.")

'SEQ_DISULFIDE' contain 2547 proteins and 2202 after filtering.

Datasets can be filtered for the minimum and maximum sequence length using ``min_len`` and ``max_len``:

In [5]:
n_len_filtered = len(aa.load_dataset(name='SEQ_DISULFIDE', min_len=100, max_len=200))
print(f"'SEQ_DISULFIDE' contain {n_unfiltered} proteins, of which {n_len_filtered} have a length between 100 and 200 residues.")

'SEQ_DISULFIDE' contain 2547 proteins, of which 644 have a length between 100 and 200 residues.

For the 'Amino acid level' datasets, the size of the amino acid window can be adjusted using the ``aa_window_size`` parameter:

In [6]:
df_aa = aa.load_dataset(name="AA_CASPASE3", n=2, aa_window_size=5)
aa.display_df(df=df_aa)

For Positive-Unlabeled (PU) learning, datasets are provided containing only positive (labeled by '1') and unlabeled data ('2'), indicated by a 'PU' suffix in the 'Dataset' column name:

In [7]:
df_seq = aa.load_dataset(name="DOM_GSEC_PU", n=3)
aa.display_df(df=df_seq)