You can read FASTA files using the ``read_fasta()`` function:

In [3]:
import aaanalysis as aa
file_path = "data/example_FASTA.fasta"
df_seq = aa.read_fasta(file_path)
aa.display_df(df_seq)

To adjust the names of the columns for the primary FASTA file information, use ``col_id`` and ``col_seq``:

In [4]:
df_seq = aa.read_fasta(file_path, col_id="ENTRY", col_seq="SQUENCE")
aa.display_df(df_seq)

The ``col_id`` column should only contain the unique identifier. If the FASTA file comprises additional information, use the ``sep`` (default='|') argument to save them in additional columns:

In [5]:
df_seq = aa.read_fasta(file_path, sep=",")
aa.display_df(df_seq)