To demonstrate integer encoding of protein sequences using the ``SequencePreprocessor().encode_integer()`` method, we first create an example sequence:

In [7]:
import aaanalysis as aa
import pandas as pd

list_seq = ["AACDEFGHIY", "IIHGFECDAY"]
sp = aa.SequencePreprocessor()

Provide the sequence as ``seq`` parameter to obtain a feature matrix (``X``) and the respective ``features``, which are integer amino acid representation at given residue positions:

In [8]:
X, features = sp.encode_integer(list_seq=list_seq)

# Convert to DataFrame for visualization
df_encode = pd.DataFrame(X, columns=features)
aa.display_df(df=df_encode, show_shape=True)

DataFrame shape: (2, 10)

You can adjust the used ``alphabet`` to change the considered characters:

In [9]:
# Show integer encoding with smaller alphabet
list_seq = ["ABC", "CBA"]
ALPHABET = "ABC"
X, features = sp.encode_integer(list_seq=list_seq, alphabet=ALPHABET)

# Convert to DataFrame for visualization
df_encode = pd.DataFrame(X, columns=features, index=list_seq)
aa.display_df(df=df_encode, show_shape=True)

DataFrame shape: (2, 3)

Change the ``gap`` symbol (default=``-``) as follows:

In [10]:
# Show integer encoding with other gap ('*')
list_seq = ["ABC", "CB*"]
ALPHABET = "ABC"
X, features = sp.encode_integer(list_seq=list_seq, alphabet=ALPHABET, gap="*")

# Convert to DataFrame for visualization
df_encode = pd.DataFrame(X, columns=features, index=list_seq)
aa.display_df(df=df_encode, show_shape=True)

DataFrame shape: (2, 3)

If one sequence is smaller than the other, gaps will be included either at the N-terminus or C-terminus (default), which is called padding. Adjust the padding using the ``pad_at`` (``N`` or ``C``) parameter:

In [11]:
# Show default padding (at C-Termius)
list_seq = ["ABC", "B"]
ALPHABET = "ABC"
X, features = sp.encode_integer(list_seq=list_seq, alphabet=ALPHABET)

# Convert to DataFrame for visualization
df_encode = pd.DataFrame(X, columns=features, index=list_seq)
aa.display_df(df=df_encode, show_shape=True)

DataFrame shape: (2, 3)

In [12]:
# Show N-terminal padding
list_seq = ["ABC", "B"]
ALPHABET = "ABC"
X, features = sp.encode_integer(list_seq=list_seq, alphabet=ALPHABET, pad_at="N")

# Convert to DataFrame for visualization
df_encode = pd.DataFrame(X, columns=features, index=list_seq)
aa.display_df(df=df_encode, show_shape=True)

DataFrame shape: (2, 3)